In [14]:
import pandas as pd
import json
import requests
from pybaseball import amateur_draft
# pd.set_option("display.max_columns",100)

In [46]:
def load_draft_results (start_year, end_year):
    global_df = pd.DataFrame()
    for year in range(start_year, end_year+1):
        for round_num in range(1, 21):
            print (f'getting round {round_num}')
            draft_results = amateur_draft(year, round_num)
            draft_results['Round'] = round_num
            draft_results['Pick']  = draft_results.index
            # print (draft_results)
            draft_results.index = [f"{year}-{pick}" for pick in draft_results['OvPck']]
            global_df = pd.concat([global_df, draft_results])
    return global_df

In [47]:
# draftResults = amateur_draft(2023, 2)
df = load_draft_results(start_year=2023, end_year=2023)
print (df)

getting round 1
getting round 2
getting round 3
getting round 4
getting round 5
getting round 6
getting round 7
getting round 8
getting round 9
getting round 10
getting round 11
getting round 12
getting round 13
getting round 14
getting round 15
getting round 16
getting round 17
getting round 18
getting round 19
getting round 20
          OvPck         Tm Signed       Bonus                Name  Pos  WAR
2023-1        1    Pirates      Y  $9,200,000        Paul Skenes     P  0.8  \
2023-2        2  Nationals      Y  $9,000,000        Dylan Crews    OF  NaN
2023-3        3     Tigers      Y  $7,697,500          Max Clark    OF  NaN
2023-4        4    Rangers      Y  $8,000,000     Wyatt Langford    OF  0.0
2023-5        5      Twins      Y  $7,144,200     Walker Jenkins    OF  NaN
...         ...        ...    ...         ...                 ...  ...  ...
2023-610    610    Dodgers    NaN         NaN    D.J. Uiagalelei   TWP  NaN
2023-611    611     Padres      Y    $150,000          B.Y. Choi    SS  NaN
2023-612    612    Yankees      Y    $150,000    Bryce Warrecker     P  NaN
2023-613    613   Phillies      Y    $100,000     Pierce Bennett    2B  NaN
2023-614    614     Astros      Y    $150,000  Pascanel Ferreras    SS  NaN

             G     AB   HR     BA    OPS  G.1    W    L   ERA  WHIP   SV Type
2023-1     0.0    0.0  NaN    NaN    NaN  4.0  2.0  0.0  2.45  0.91  0.0  4Yr  \
2023-2     NaN    NaN  NaN    NaN    NaN  NaN  NaN  NaN   NaN   NaN  NaN  4Yr
2023-3     NaN    NaN  NaN    NaN    NaN  NaN  NaN  NaN   NaN   NaN  NaN   HS
2023-4    33.0  123.0  1.0  0.228  0.587  NaN  NaN  NaN   NaN   NaN  NaN  4Yr
2023-5     NaN    NaN  NaN    NaN    NaN  NaN  NaN  NaN   NaN   NaN  NaN   HS
...        ...    ...  ...    ...    ...  ...  ...  ...   ...   ...  ...  ...
2023-610   NaN    NaN  NaN    NaN    NaN  NaN  NaN  NaN   NaN   NaN  NaN  4Yr
2023-611   NaN    NaN  NaN    NaN    NaN  NaN  NaN  NaN   NaN   NaN  NaN   JC
2023-612   NaN    NaN  NaN    NaN    NaN  NaN  NaN  NaN   NaN   NaN  NaN  4Yr
2023-613   NaN    NaN  NaN    NaN    NaN  NaN  NaN  NaN   NaN   NaN  NaN  4Yr
2023-614   NaN    NaN  NaN    NaN    NaN  NaN  NaN  NaN   NaN   NaN  NaN  4Yr

                                             Drafted Out of  Round  Pick
2023-1         Louisiana State University (Baton Rouge, LA)      1     0
2023-2         Louisiana State University (Baton Rouge, LA)      1     1
2023-3                 Franklin Community HS (Franklin, IN)      1     2
2023-4              University of Florida (Gainesville, FL)      1     3
2023-5                   South Brunswick HS (Southport, NC)      1     4
...                                                     ...    ...   ...
2023-610            Oregon State University (Corvallis, OR)     20    25
2023-611        New Mexico Military Institute (Roswell, NM)     20    26
2023-612  California Polytechnic State University, San L...     20    27
2023-613         Wake Forest University (Winston-Salem, NC)     20    28
2023-614        Western Carolina University (Cullowhee, NC)     20    29

[614 rows x 22 columns]

In [48]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///Data/draft_data.db')
df.to_sql('draft_results', con=engine, if_exists='replace', index=True)

614